hardware/micropython/project/nodered.json
[
    {
        "id": "b33d90ee6c62fbce",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7d9be887a962ec8",
        "type": "group",
        "z": "b33d90ee6c62fbce",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b94eefca4a5512c3",
            "9cce167a2b833f54"
        ],
        "x": 574,
        "y": 439,
        "w": 552,
        "h": 82
    },
    {
        "id": "b94eefca4a5512c3",
        "type": "mqtt in",
        "z": "b33d90ee6c62fbce",
        "g": "c7d9be887a962ec8",
        "name": "",
        "topic": "b6710503771/last_cross",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e8cc574f65392a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "9cce167a2b833f54"
            ]
        ]
    },
    {
        "id": "da7430f0f3ce5606",
        "type": "mqtt in",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "topic": "b6710503771/dist/human",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e8cc574f65392a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "661dba7301542928",
                "3309184c0a67d679"
            ]
        ]
    },
    {
        "id": "bc530831e6dbbb8d",
        "type": "mqtt in",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "topic": "b6710503771/dist/car",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e8cc574f65392a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "06eb2cbd0a900e10",
                "093db6aaf27b0302"
            ]
        ]
    },
    {
        "id": "661dba7301542928",
        "type": "ui_text",
        "z": "b33d90ee6c62fbce",
        "group": "e178ba23bad796bd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ระยะคน",
        "format": "{{msg.payload}} เมตร",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "093db6aaf27b0302",
        "type": "ui_slider",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d02f9be7807f4234",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "06eb2cbd0a900e10",
        "type": "ui_text",
        "z": "b33d90ee6c62fbce",
        "group": "d02f9be7807f4234",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ระยะรถ",
        "format": "{{msg.payload}} เมตร",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "3309184c0a67d679",
        "type": "ui_slider",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e178ba23bad796bd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 450,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7719a251b667b7d9",
        "type": "debug",
        "z": "b33d90ee6c62fbce",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "9cce167a2b833f54",
        "type": "ui_text",
        "z": "b33d90ee6c62fbce",
        "g": "c7d9be887a962ec8",
        "group": "683edbfd0b872269",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "เวลาล่าสุด",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "baca08f478213545",
        "type": "mqtt out",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "topic": "b6710503771/servo",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e8cc574f65392a9",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "465a598375b1b68e",
        "type": "ui_button",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "group": "2266f1f7734ce8d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ปิดแผงกั้น",
        "tooltip": "",
        "color": "",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "110",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "baca08f478213545",
                "7719a251b667b7d9"
            ]
        ]
    },
    {
        "id": "bca5a1161e92de90",
        "type": "mqtt in",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "topic": "b6710503771/text/human",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e8cc574f65392a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "95f7bfae6acd8b12"
            ]
        ]
    },
    {
        "id": "95f7bfae6acd8b12",
        "type": "ui_text",
        "z": "b33d90ee6c62fbce",
        "group": "e178ba23bad796bd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "สถานะ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "f7860eb51cbfd302",
        "type": "mqtt in",
        "z": "b33d90ee6c62fbce",
        "name": "",
        "topic": "b6710503771/text/car",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e8cc574f65392a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "98fe9dea36af25c1"
            ]
        ]
    },
    {
        "id": "98fe9dea36af25c1",
        "type": "ui_text",
        "z": "b33d90ee6c62fbce",
        "group": "d02f9be7807f4234",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "สถานะ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 740,
        "wires": []
    },
    {
        "id": "4e8cc574f65392a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e178ba23bad796bd",
        "type": "ui_group",
        "name": "ระยะคน",
        "tab": "cfc724f22399a015",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d02f9be7807f4234",
        "type": "ui_group",
        "name": "ระยะรถ",
        "tab": "cfc724f22399a015",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "683edbfd0b872269",
        "type": "ui_group",
        "name": "สถิติคนข้าม",
        "tab": "cfc724f22399a015",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2266f1f7734ce8d4",
        "type": "ui_group",
        "name": "ปุ่มกดเจ้าหน้าที่",
        "tab": "cfc724f22399a015",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfc724f22399a015",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]